<ion-header class="post-header">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tabs2"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      @if (auth.isLoggedIn()) {
      <ion-menu-button></ion-menu-button>
      } @else {
      <ion-button fill="clear" (click)="navigateToLogin()">Entrar</ion-button>
      }

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="post-content">

  @if(post) {
  <div class="acoes-topo">
    <div class="acoes-esquerda">
      <div class="acao-item">
        <ion-button fill="clear">
          <ion-icon name="thumbs-up-outline"></ion-icon>
        </ion-button>
        <span>{{ post.likes }}</span>
      </div>

      <div class="acao-item">
        <ion-button fill="clear">
          <ion-icon name="thumbs-down-outline"></ion-icon>
        </ion-button>
        <span>{{ post.dislikes }}</span>
      </div>
    </div>

    <ion-button fill="clear">
      <ion-icon name="send-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="titulo-area">
    <div>
      <p class="tipo">{{ post.tipoProposicao }}</p>
      <h2>{{ post.razao }}</h2>
      <p class="subtag">{{ post.tag }}</p>
      <p class="vereador">{{ post.vereador }}</p>
    </div>

    <ion-button fill="clear" class="favorito-btn">
      <ion-icon name="star-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="bloco cinza">
    <h3>Ementa</h3>
    <p>{{ post.ementa }}</p>
  </div>

  <div class="bloco estado">
    <h3>Estado</h3>

    @if (post.encerrouTramitacao) {
    <p>Tramitação encerrada</p>
    } @else {
    <p>Em tramitação</p>
    }

    @if (post.tramiteAlternativo) {
    <p>Possui trâmite alternativo</p>
    }
  </div>

  <div class="datas-grid">
    <div class="info-coluna">
      <h4>Emissão</h4>
      <p>{{ post.dataDeEnvio }}</p>
      <p>{{ post.dataEfetivo }}</p>
    </div>

    <div class="info-coluna">
      <h4>Último trâmite</h4>
      <p>{{ post.localizacao }}</p>
      <p>{{ post.ultimoTramite }}</p>
    </div>
  </div>

  <div class="bloco cinza">
    <h3>Proposições semelhantes</h3>

    @if (post.leisSimilares.length > 0) {
    <ul>
      @for (lei of post.leisSimilares; track lei) {
      <li>{{ lei }}</li>
      }
    </ul>
    } @else {
    <p>Nenhuma proposição semelhante cadastrada.</p>
    }
  </div>
  }

</ion-content>