<ion-menu contentId="main-content" side="end">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item routerLink="/perfil">Perfil</ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item routerLink="/historico">Historico</ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item (click)="navMeusDashboards()">Meus Dashboards</ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item routerLink="/configuracoes">Configurações</ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>