services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: tcc-frontend
    working_dir: /workdir
    command: >
      sh -c "
        npm install &&
        npx concurrently '
          ionic serve --host=0.0.0.0 --port=8100
        ' '
          ng serve --host=0.0.0.0 --port=4200
        ' '
          npx chokidar dist -c \"echo Syncing && npx cap copy\"
        '
      "

    volumes:
      - ./frontend/tcc:/workdir
    ports:
      - "80:4200"
      - "8100:8100"

  clientes:
    image: maven:3.8.4-openjdk-17-slim
    command: "mvn spring-boot:run -Dspring-boot.run.jvmArguments='-Dspring.devtools.restart.enabled=true -Dspring-boot.run.profiles=dev'"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/TCC
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=senha
    working_dir: /app
    volumes:
      - ./backend/clientes_TCC/:/app
      - ~/.m2:/root/.m2
    ports:
      - 8080:8080

  postgres:
    image: postgres:15.5
    environment:
      POSTGRES_DB: TCC
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: senha
    volumes:
      - ./bancosDeDados/postgres/:/docker-entrypoint-initdb.d/
    ports:
      - 5432:5432
