<ion-tabs>  
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="pesquisa">
      <ion-icon name="search-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="acompanhamento">
      <ion-icon name="bookmark-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notificacoes">
      <ion-icon name="notifications-outline"></ion-icon>
      @if (notificacaoService.naoLidasSig() > 0 && !notificacaoService.estaNaPaginaSig()) {
        <ion-badge color="danger">{{ notificacaoService.naoLidasSig() }}</ion-badge>
      }
    </ion-tab-button>

    <ion-tab-button tab="dashboard">
      <ion-icon name="stats-chart-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
