<ion-header [translucent]="true">
  @if (auth.isLoggedIn()) {
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-list>
    <ion-item>
      <ion-select aria-label="Dashboard" [value]="modoSelecionado" cancelText="Cancelar" mode="ios"
        (ionChange)="mudarModo($event)">
        <ion-select-option value="dashboard">Dashboard</ion-select-option>
        <ion-select-option value="my-dashboard">Meus Dashboards</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  } @else {
  <ion-toolbar>
    <ion-button slot="end" (click)="navigateToLogin()">Entrar</ion-button>

    <ion-list>
      <ion-item>
        <ion-select aria-label="Dashboard" value="dashboard" cancelText="Cancelar" mode="ios"
          (ionChange)="mudarModo($event)">
          <ion-select-option value="dashboard">Dashboard</ion-select-option>
          <ion-select-option value="my-dashboard">Meus Dashboards</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-toolbar>
  }
</ion-header>

<ion-content [fullscreen]="true">
  @switch (modoSelecionado) {
  @case ('dashboard') {
  <app-dashboard-view></app-dashboard-view>
  }
  @case ('my-dashboard') {
  <app-my-dashboard-view></app-my-dashboard-view>
  }
  @default {
  <app-dashboard-view></app-dashboard-view>
  }
  }
</ion-content>