<ion-header [translucent]="true">
  @if (auth.isLoggedIn()) {
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-list>
    <ion-item>
      <ion-select aria-label="Dashboard" value="dashboard" cancelText="Cancelar" mode="ios">
        <ion-select-option value="dashboard">Dashboard</ion-select-option>
        <ion-select-option value="my-dashboard">Meus Dashboards</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  } @else {
  <ion-toolbar>
    <ion-button slot="end" (click)="navigateToLogin()">Entrar</ion-button>
    <ion-text>
      <h2>Dashboard</h2>
    </ion-text>
  </ion-toolbar>
  }
</ion-header>

<ion-content [fullscreen]="true">
</ion-content>