<ion-header class="search-header">
  <ion-toolbar>
    @if (auth.isLoggedIn()) {
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    } @else {
      <ion-button fill="clear" slot="end" (click)="navigateToLogin()">
        Entrar
      </ion-button>
    }
  </ion-toolbar>

  <div class="search-container">
    <ion-searchbar
      placeholder="Buscar proposições, vereadores ou tags"
      animated="true"
      show-clear-button="focus">
    </ion-searchbar>
  </div>

  <div class="trend-section">
    <div class="trend-title">
      <ion-icon name="trending-up-outline"></ion-icon>
      <ion-text color="primary">Em destaque</ion-text>
    </div>
  </div>
</ion-header>

<ion-content>

  <div class="highlight-list">
    @for (post of postsDestaque; track post.id) {
      <app-card [post]="post" [link]="['/proposicao', post.id]"></app-card>
    }
  </div>

</ion-content>