<ion-card [routerLink]="link" button="true">

  <ion-card-header>

    <div class="header-top">
      <ion-card-title>{{ post.ementa }}</ion-card-title>

      <ion-icon
        [name]="starIconName()"
        [color]="post.isFavorito ? 'warning' : ''"
        (click)="toggleFavorito($event)">
      </ion-icon>
    </div>

    <div class="subinfo">
      <span class="vereador" (click)="verVerador($event, post.vereador.id)">{{ post.vereador.nome }}</span>
    </div>

  </ion-card-header>

  <ion-card-content>

    <div class="chips-row">
      <ion-chip (click)="filtrarChip($event, post.tipoProposicao)">
        <ion-label>{{ post.tipoProposicao }}</ion-label>
      </ion-chip>

      <ion-chip class="tag-chip">
        <ion-label>{{ post.tag }}</ion-label>
      </ion-chip>
    </div>

    <p>{{ post.texto }}</p>

    <div class="acoes">

      <div class="acao" (click)="reagir($event, 'LIKE')">
        <ion-icon [name]="likeIconName()"></ion-icon>
        <span>{{ post.likes }}</span>
      </div>

      <div class="acao" (click)="reagir($event, 'DISLIKE')">
        <ion-icon [name]="dislikeIconName()"></ion-icon>
        <span>{{ post.dislikes }}</span>
      </div>

      <div class="acao">
        <ion-icon name="send-outline" (click)="compartilhar($event)"></ion-icon>
      </div>

    </div>

  </ion-card-content>

</ion-card>
