<ion-card [routerLink]="link" button="true">

  <ion-card-header>

    <div class="header-top">
      <ion-card-title>{{ post.razao }}</ion-card-title>

      <ion-icon
        [name]="starIconName()"
        [color]="auth.isLoggedIn() && post.isFavorito ? 'warning' : ''"
        (click)="toggleFavorito($event)">
      </ion-icon>
    </div>

    <div class="subinfo">
      <span class="vereador" (click)="verVerador($event, post.vereador.id)">{{ post.vereador.nome }}</span>
    </div>

  </ion-card-header>

  <ion-card-content>

    <div class="chips-row">
      <div class="tipo-tag" (click)="filtrarChip($event, post.tipoProposicao)">{{ post.tipoProposicao }}</div>

      <div class="tag-chip">#{{ post.tag }}</div>
    </div>

    <p class="ementa">{{ post.ementa }}</p>

    <div class="acoes">

      <div class="acao" (click)="reagir($event, 'LIKE')">
        <ion-icon [name]="likeIconName()" [class.active]="auth.isLoggedIn() && post.currentUserReaction === 'LIKE'"></ion-icon>
        <span>{{ post.likes }}</span>
      </div>

      <div class="acao" (click)="reagir($event, 'DISLIKE')">
        <ion-icon [name]="dislikeIconName()" [class.active]="auth.isLoggedIn() && post.currentUserReaction === 'DISLIKE'"></ion-icon>
        <span>{{ post.dislikes }}</span>
      </div>

      <div class="acao">
        <ion-icon name="send-outline" (click)="compartilhar($event)"></ion-icon>
      </div>

    </div>

  </ion-card-content>

</ion-card>
