<ion-content class="dashboard-content">

  @if (chartOptions.data.length > 0) {
    <div class="card dashboard-card">
      <div class="card-header">
        <h3>Visão geral</h3>
        <p>Resumo das interações</p>
      </div>

      <div class="chart-container">
        <ag-charts [options]="chartOptions"></ag-charts>
      </div>
    </div>
  }

  <div class="card dashboard-card">
    <div class="card-header">
      <h3>Dados detalhados</h3>
      <p>Lista completa das proposições</p>
    </div>

    <div class="table-container">
      <ag-grid-angular 
        class="ag-theme-alpine custom-grid"
        [rowData]="rowData"
        [columnDefs]="columnDefs">
      </ag-grid-angular>
    </div>
  </div>

</ion-content>