beautifulsoup4
fastapi
groq
lxml
numpy
opencv-python
pandas
pillow
psycopg2-binary
pydantic
python-dotenv
python-multipart
requests
sentence-transformers
sqlalchemy
tabula-py
torch
transformers
uvicorn
