<ion-header [translucent]="true">

  <ion-toolbar>
    @if (auth.isLoggedIn()) {
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    } @else {
    <ion-button slot="end" (click)="navigateToLogin()">Entrar</ion-button>
    }
  </ion-toolbar>

  @if (tipoFiltroAtivo) {
  <div class="header-filtro-container">
    <ion-chip class="filtro-header" (click)="limparFiltro()">
      <ion-label>{{ tipoFiltroAtivo }}</ion-label>
      <ion-icon name="close"></ion-icon>
    </ion-chip>
  </div>
  }

</ion-header>

<ion-content [fullscreen]="true">
  @for (post of postsFiltrados; track post.id) {
  <app-card [post]="post" (tipoFiltrado)="filtrarPorTipo($event)" (verVereador)="verVereador(post.vereador.id)" [link]="['/proposicao', post.id]"></app-card>
  }
</ion-content>