<ion-header [translucent]="true">

  <ion-toolbar>
    <span class="header-app-name" routerLink="/tabs/tab2">CuritibAtiva</span>
    <ion-buttons slot="start" class="header-logo-wrapper">
      <img src="assets/icon/favicon.png" class="header-logo" routerLink="/tabs/tab2" />
    </ion-buttons>
    @if (auth.isLoggedIn()) {
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    } @else {
    <ion-button class="btn-entrar" fill="solid" color="primary" mode="ios" slot="end" (click)="navigateToLogin()">Entrar</ion-button>
    }
  </ion-toolbar>

  <div class="header-filtro-container">
    @for (cat of categoriasSelecionadas; track cat) {
      <div class="filtro-header" (click)="toggleCategoria(cat)">
        {{ cat }}
        <ion-icon name="close"></ion-icon>
      </div>
    }
    @for (tema of temasSelecionados; track tema) {
      <div class="filtro-header" (click)="toggleTema(tema)">
        {{ formatarTag(tema) }}
        <ion-icon name="close"></ion-icon>
      </div>
    }

    <button class="dropdown-trigger" id="cat-trigger">
      Categoria <ion-icon name="chevron-down"></ion-icon>
    </button>
    <button class="dropdown-trigger" id="tema-trigger">
      Tema <ion-icon name="chevron-down"></ion-icon>
    </button>
  </div>

  <ion-popover #catPopover trigger="cat-trigger" triggerAction="click" side="bottom" alignment="start" [dismissOnSelect]="false">
    <ng-template>
      <div class="filter-dropdown">
        @if (categoriasNaoSelecionadas.length > 0) {
          @for (cat of categoriasNaoSelecionadas; track cat) {
            <div class="dropdown-item" (click)="toggleCategoria(cat); catPopover.dismiss()">
              {{ cat }}
            </div>
          }
        } @else {
          <div class="dropdown-empty">Todas selecionadas</div>
        }
        <div class="dropdown-divider"></div>
        <div class="dropdown-clear" (click)="categoriasSelecionadas = []; aplicarFiltros(); catPopover.dismiss()">
          Limpar categoria
        </div>
      </div>
    </ng-template>
  </ion-popover>

  <ion-popover #temaPopover trigger="tema-trigger" triggerAction="click" side="bottom" alignment="start" [dismissOnSelect]="false">
    <ng-template>
      <div class="filter-dropdown">
        @if (temasNaoSelecionados.length > 0) {
          @for (tema of temasNaoSelecionados; track tema) {
            <div class="dropdown-item" (click)="toggleTema(tema); temaPopover.dismiss()">
              {{ formatarTag(tema) }}
            </div>
          }
        } @else {
          <div class="dropdown-empty">Todas selecionadas</div>
        }
        <div class="dropdown-divider"></div>
        <div class="dropdown-clear" (click)="temasSelecionados = []; aplicarFiltros(); temaPopover.dismiss()">
          Limpar tema
        </div>
      </div>
    </ng-template>
  </ion-popover>

</ion-header>

<ion-content [fullscreen]="false">
  <ion-refresher slot="fixed" mode="md" (ionRefresh)="recarregarDados($event)">
    <ion-refresher-content
      pullingIcon="arrow-down-outline"
      pullingText="Puxe para atualizar"
      refreshingSpinner="crescent"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="page-desktop-layout">
    <aside class="desktop-sidebar left-sidebar">
      <app-menu-panel></app-menu-panel>
    </aside>
    <div class="desktop-content">
      <div class="feed-container">
        @for (post of postsFiltrados; track post.id) {
        <app-card [post]="post" [usuarioId]="usuarioId" (tipoFiltrado)="filtrarPorTipo($event)" (verVereador)="verVereador(post.vereador.id)" [link]="['/proposicao', post.id]"></app-card>
        }
      </div>
    </div>
    <aside class="desktop-sidebar right-sidebar">
      <app-vereador-table></app-vereador-table>
    </aside>
  </div>
</ion-content>
