<ion-header mode="ios" collapse="fade">
  <ion-buttons mode="md">
    <ion-back-button defaultHref="/perfil"></ion-back-button>
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-header>

<ion-content>
  @for (visitado of Visitados; track visitado.id) {

  @if (visitado.tipo === 'proposicao') {
  <app-card [post]="visitado.component" [link]="['/proposicao', visitado.component.id]">
  </app-card>
  }

  @else if (visitado.tipo === 'vereador') {
  <app-card-vereador [post]="visitado.component" [link]="['/vereador', visitado.component.id]">
  </app-card-vereador>
  }

  }
</ion-content>